:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #f9fafc;
}
